<% @page_title = "商品情報の変更" %>
<div class="col-md-12 mt-4">
  <h1 style="font-size: 35px;">商品情報の変更</h1>
</div>
<div class="container mb-3">
　　<%= link_to "商品詳細へ戻る", [:admin, @item] %>
</div>
<%= render partial: 'shared/item/item_form', locals: { isSelected: @item.category_id} %>
