<% @page_title = @item.name %>
<div class="container">
  <div class="row">
    <div class="mx-auto my-3">
      <%= link_to "商品を編集する", [:edit, :admin, @item] ,class: "btn btn-outline-primary"%>
    </div>
  </div>
</div>

<%
score=0.0
if @item.reviews != []
  @item.reviews.each do |review|
    score += review.score
  end
  score = (score / @item.reviews.count).round(2)
end
%>
<%= render partial: 'shared/item/show/description', locals: { item: @item, score: score}%>
<%= render partial: 'shared/item/show/review_form', locals: { item: @item, review: @review}%>
<%= render partial: 'shared/item/show/review_admin', locals: { reviews: @reviews}%>
