<% @page_title = "管理ページトップ"%>
<ul>
   <li><%= link_to "商品管理", :admin_items %></li>
   <li><%= link_to "注文・発送管理", :admin_orders %></li>
   <li><%= link_to "ログアウト", logout_admin_path, method: :delete%></li>
</ul>
