<% @page_title = "Bad Request"%>
<div class="col-md-12 mt-4">
  <h1 style="font-size: 35px;">400 Bad Request</h1>
</div>
<div class="col-md-12 mt-4 d-flex justify-content-center">
  <p class="lead">リクエストの形式が正しくありません</p>
</div>
