<% @page_title = "Not Found"%>
<div class="col-md-12 mt-4">
  <h1 style="font-size: 35px;">404 Not Found</h1>
</div>
<div class="col-md-12 mt-4 d-flex justify-content-center">
  <p class="lead">お探しのページが見つかりませんでした。</p>
</div>
