<body>
  <% if !is_login?%>
    <div class="py-5 text-center">
      <div class="container">
        <div class="row">
          <div class="mx-auto col-md-12">
            <h1 class="mb-4">会員登録して通販を始めよう</h1> <%= link_to "新規登録", signup_path, class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% else %>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-4">ホビーショップNSへようこそ</h1>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <%= render partial: 'shared/item_index', locals: { actor: ""} %>

</body>
