<%= render partial: 'shared/paginate', locals: { target: @items}%>

<div class="py-5">
  <div class="container">
    <div class="row">

      <% @items.each do |item| %>
      <%
      score=0.0
      if item.reviews != []
        item.reviews.each do |review|
          score += review.score
        end
        score = (score / item.reviews.count).round(1)
      end
      %>


<%= render partial: 'shared/item/index/parts', locals: { item: item,bar: bar,actor: actor,score:score}%>

    <% end %>

    </div>
  </div>
</div>

<%= render partial: 'shared/paginate', locals: { target: @items}%>
